* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-color: #ffffff; 
  
  background-image: 
    radial-gradient(at 10% 20%, rgba(123, 198, 255, 0.3) 0px, transparent 50%), /* Azul */
    radial-gradient(at 90% 10%, rgba(255, 154, 233, 0.3) 0px, transparent 50%), /* Rosa */
    radial-gradient(at 50% 90%, rgba(182, 255, 171, 0.3) 0px, transparent 50%), /* Verde */
    radial-gradient(at 80% 80%, rgba(255, 230, 140, 0.3) 0px, transparent 50%), /* Amarillo */
    radial-gradient(at 20% 80%, rgba(200, 160, 255, 0.3) 0px, transparent 50%); /* Violeta */

  font-family: 'Inter', -apple-system, sans-serif;
  
  color: white; 
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  user-select: none;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(80px);
  z-index: -1;
}